node_modules


*.tsbuildinfo
.DS_Store
.env
.env.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.dockerignore
test-base-url.html
test-dev-server.js
test-asset.js
test-dev-server.mjs
.env2
